<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Form</title>
</head>
<body>
    <div>
        <form action="" method="post">
            {% csrf_token %}
            Number 1: <input type="text" name="num1" value="{{ n1 }}"> <br>
            Number 2: <input type="text" name="num2" value="{{ n2 }}"> <br>
            Output: <input type="text" value="{{ output }}" readonly> <br>
            <button type="submit">Save</button>
            <p style="color: red;">{{ error }}</p>
        </form>
    </div>
</body>
</html>
