{% extends 'base.html' %}
{% block body %}

<div class="container col-md-5 mx-auto card p-4 shadow-lg mt-5">
    <form method="POST" enctype="multipart/form-data"> 
        {% csrf_token %}
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Recipe Name</label>
        <input type="text" name="recipe_name" class="form-control">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Recipe Description</label>
        <textarea name="recipe_desc" class="form-control" id=""></textarea>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Recipe Image</label>
        <input type="file" class="form-control" name="recipe_image" id="">
      </div>
      <button type="submit" class="btn btn-success">Add recipe</button>
    </form>


    <h2>All Recipes:</h2>
    <ul>
  {% for recipe in recipe_list %}
        <li>
            <h5>{{ recipe.recipe_name }}</h5>
            <p>{{ recipe.recipe_desc }}</p>
            <img src="{{ recipe.recipe_image.url }}" alt="{{ recipe.recipe_name }}" width="200">
        </li>
        {% endfor %}
      </ul>
</div>

    {% endblock %}