{% extends 'base.html' %}

{% block start %}
{% load static %}
<!-- Main Content -->
<div class="container my-5">
    <h2 class="mb-4 text-center text-uppercase font-weight-bold">Our Pizzas</h2>
    <div class="row">

        <!-- Pizza Card -->
        {% for pizza in pizzas %}
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-lg border-0 rounded-lg overflow-hidden">
                <img src="{{ pizza.image.url }}" class="card-img-top" alt="{{ pizza.pizza_name }}"
                    style="object-fit: contain; height: 250px;">
                <div class="card-body">
                    <h5 class="card-title text-center text-dark">{{pizza.pizza_name}}</h5>
                    <p class="card-text text-center">
                        <strong>Price:</strong> ₹{{pizza.price}}<br>
                        <strong>Discount:</strong> {{pizza.discount}}<br>
                        <strong>Description:</strong> {{pizza.description}}
                    </p>
                    <div class="d-grid">
                        <a href="{% url 'add_cart' pizza.uid  %}" class="btn btn-primary btn-lg rounded-pill shadow-sm">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
      

        <!-- Placeholder for more pizzas -->

    </div>
</div>
{% endblock %}