{% extends "base.html" %}

{% block start %}
<div class="container mt-5">
   <div class="col-md-4 mx-auto shadow-lg p-5 rounded rounded-5">
        <h2 class="mb-4">Register</h2>
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="name" class="form-label">Username</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <!-- <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div> -->
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
   </div>
{% endblock %}