{% extends 'base.html' %}

{% block content %}
<h2>About me</h2>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil incidunt nemo, molestias quibusdam a dolor nobis! Asperiores quas deleniti cupiditate, beatae adipisci culpa nesciunt consequuntur ipsa consectetur, ut ex harum, quos dignissimos nulla perferendis porro. Exercitationem, quaerat. Praesentium eum dolor, illum dolorum vitae eos corporis dolore itaque enim accusamus libero?
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil incidunt nemo, molestias quibusdam a dolor nobis! Asperiores quas deleniti cupiditate, beatae adipisci culpa nesciunt consequuntur ipsa consectetur, ut ex harum, quos dignissimos nulla perferendis porro. Exercitationem, quaerat. Praesentium eum dolor, illum dolorum vitae eos corporis dolore itaque enim accusamus libero?
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil incidunt nemo, molestias quibusdam a dolor nobis! Asperiores quas deleniti cupiditate, beatae adipisci culpa nesciunt consequuntur ipsa consectetur, ut ex harum, quos dignissimos nulla perferendis porro. Exercitationem, quaerat. Praesentium eum dolor, illum dolorum vitae eos corporis dolore itaque enim accusamus libero?
</p>
{% endblock %}