{% extends 'base.html' %}

{% block content %}


<h2>Contact me</h2>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, possimus cumque minima non enim libero at ea atque nobis. Iste aliquam tenetur ea non! Laudantium, nobis illum, sint dignissimos optio vitae a quaerat sunt voluptatibus placeat omnis, eligendi id qui ratione quia ipsam. Aliquid quo maiores neque, voluptate molestiae adipisci?
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, possimus cumque minima non enim libero at ea atque nobis. Iste aliquam tenetur ea non! Laudantium, nobis illum, sint dignissimos optio vitae a quaerat sunt voluptatibus placeat omnis, eligendi id qui ratione quia ipsam. Aliquid quo maiores neque, voluptate molestiae adipisci?
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, possimus cumque minima non enim libero at ea atque nobis. Iste aliquam tenetur ea non! Laudantium, nobis illum, sint dignissimos optio vitae a quaerat sunt voluptatibus placeat omnis, eligendi id qui ratione quia ipsam. Aliquid quo maiores neque, voluptate molestiae adipisci?
</p>

{% endblock %}
