<!-- navbar.html -->
<!-- Navbar Start -->
<nav>
    <div class="logo">
        <a href="#">Logo</a>
    </div>
    <button class="navbar-toggle">☰</button>

    <!-- Passing url to anchor tag using url -->
    <ul class="navbar">
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/skills">Skills</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
    <!-- Passing url to anchor tag using python name and url tag -->
    <!-- home, skills, about, projects etc are name that is in urls.py -->
    <!-- <ul class="navbar">
        <li><a href="{% url 'home' %}">Home</a></li>  
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'projects' %}">Projects</a></li>
        <li><a href="{% url 'skills' %}">Skills</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
    </ul> -->
</nav>
<!-- Navbar End -->
